<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/password/forgetpassword" method="post">
        <input type="email" placeholder="enter your mail address" name='email' id="input">
        <button id="email-btn">Submit</button>
    </form>
    <script>
        const emailBtn = document.getElementById('email-btn').addEventListener('click', () => {
            const email = document.getElementById('input').value;
            const obj = { email: email }
            // axios.post('/password/forgetpassword', obj)
            //     .then(alert('posted')).catch(err => console.log(err))

        })
    </script>
</body>

</html>